@mixin area($col_start, $col_end, $row_start, $row_end, $color) {
    background-color: $color;
    text-decoration: none;
    grid-column: #{$col_start} / #{$col_end};
    grid-row: #{$row_start} / #{$row_end};
    &:not(:last-child):hover {
        background-color: darken($color, 5%);
    }
}

@mixin divArea($col_start, $col_end, $row_start, $row_end, $color) {
    background-color: $color;
    text-decoration: none;
    grid-column: #{$col_start} / #{$col_end};
    grid-row: #{$row_start} / #{$row_end};
}