@import 'main_mixin';
@import 'main_extend';
.main {
    div.container {
        @extend %navStyleI;
        a {
            @extend %aStyle;
        }
        .nav {
            @include divArea(1, 8, 1, 2, hsl(204, 89%, 17%));
        }
        .box1 {
            @include divArea(2, 3, 3, 4, white, true);
        }
        .box2 {
            @include divArea(4, 5, 3, 4, white, true);
        }
        .box3 {
            @include divArea(6, 7, 3, 4, white, true);
        }
        .box4 {
            @include divArea(2, 3, 5, 6, white, true);
        }
        .box5 {
            @include divArea(4, 5, 5, 6, white, true);
        }
        .box6 {
            @include divArea(6, 7, 5, 6, white, true);
        }
    }
    background-image: url("https://i.ytimg.com/vi/seygHIYw5TA/maxresdefault.jpg");
    background-size: cover;
    opacity: 0.8;
}